<!doctype html>
<!--[if IE]><html class="no-js no-touch ie9" lang="{{ shop.locale }}"><![endif]-->
<!--[if !IE]><!--><html class="no-js no-touch" lang="{{ shop.locale }}"><!--<![endif]-->
  <head>
    {% include "trackify" %}
    
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <title>
      {{- page_title -}}

      {%- if current_tags -%}
        {%- include 'advanced-tag-loop' -%}
        {% assign title_tags = '' %}
        {% assign meta_tags = current_tags | join: ', ' %}
        {%- for tag in current_tags -%}
          {% assign is_advanced_tag = false %}
          {% assign cat = tag | split: '_' | first %}

          {%- unless cat == tag -%}
            {%- if cat_array contains cat -%}
              {% assign is_advanced_tag = true %}
              {% assign title_tags = title_tags | append: ', ' | append: tag | replace_first: '_', ': ' %}
            {%- endif -%}
          {%- endunless -%}

          {%- unless is_advanced_tag -%}
            {% assign title_tags = title_tags | append: ', ' | append: tag %}
          {%- endunless -%}
        {%- endfor -%}
        {{ 'general.title.tags' | t: tags: title_tags | remove_first: ', ' }}
      {%- endif -%}

      {%- if current_page != 1 -%}
        {{- 'general.title.page' | t: page: current_page -}}
      {%- endif -%}

      {%- unless page_title contains shop.name -%}
        {{- 'general.title.shop' | t: shop: shop.name -}}
      {%- endunless -%}
    </title>

    {% if page_description != blank %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% include 'favicon' %}

    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width">

    {% include 'social-meta-tags' %}

    {{ content_for_header }}

    <script>
      document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
      if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
      if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
    </script>

    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {{ 'custom.scss.css' | asset_url | stylesheet_tag }}
  
	{{ shop.metafields.loox["global_html_head"] }}
</head>

  <body>
    {% section 'static-header' %}

    <main class="site-main">
      {% if template == 'index' %}
        {% section 'static-slideshow' %}
        {% section 'static-highlights-banners' %}
      {% endif %}

      {{ content_for_layout }}
    </main>

    {% section 'static-footer' %}

    {% comment %}
      Below are various templates used in JavaScript
    {% endcomment %}
    <div style="display: none;" aria-hidden="true" data-templates>
      {% include 'message-banner' %}
      {% include 'atc-banner' %}
    </div>

    {% comment %}
      Modal container, used on Collections, Password, and QuickShop
    {% endcomment %}
    {% include 'modal' %}


    {%- if template contains 'customer' -%}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
    {%- endif -%}

    <script
      src="{{ 'empire.js' | asset_url }}"
      data-scripts
      data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
      data-shopify-currencies="//cdn.shopify.com/s/javascripts/currencies.js"
      data-shopify-countries="/services/javascripts/countries.js"
      data-shopify-common="{{ 'shopify_common.js' | shopify_asset_url }}"
      data-shopify-cart="{{ 'jquery.cart.js' | asset_url }}">
    </script>

    {% include 'structured-data' %}
  
	{{ shop.metafields.loox["global_html_body"] }}


{% comment %}
This piece of Liquid template code is injected to the layout/theme.liquid.
This code is rendered directly within every page.
{% endcomment %}

</script>{% include "hurrify-snippet" %}

<script type="text/javascript" id="roihuntereasy">
/* <![CDATA[ */
  // original ecomm_prodid = 'shopify_{{ shopify_store_country  }}_{{ item.product.id }}_{{ item.variant.id }}'
  {% if template contains 'cart' %}
  var roihuntereasy_google_tag_params = {
      ecomm_prodid: [{% for item in cart.items %}'shopify_{{ item.product.id }}_{{ item.variant.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
      ecomm_pagetype: 'cart',
      ecomm_totalvalue: {{ cart.total_price | money_without_currency | remove: '.' | remove: ','  | divided_by: 100.0 }}
  };

  {% elsif template contains 'collection' %}
  var roihuntereasy_google_tag_params = {
      ecomm_prodid: [{% for item in collection.products limit:5 %}'shopify_{{ item.id }}_{{ item.variants.first.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
      ecomm_pagetype: 'category',
      ecomm_category: '{{ collection.handle }}'
  };

  {% elsif template contains 'product' %}
  var roihuntereasy_google_tag_params = {
      ecomm_prodid: 'shopify_{{ product.id }}_{{ product.selected_or_first_available_variant.id }}',
      ecomm_pagetype: 'product',
      ecomm_totalvalue: {{ product.price | money_without_currency | remove: '.' | remove: ','  | divided_by: 100.0 }}
  };
  {% endif %}

  /* Load Script function we may need to load jQuery from the Google's CDN */
  /* That code is world-reknown. */
  /* One source: http://snipplr.com/view/18756/loadscript/ */
  var loadScript = function(url, callback){
    var script = document.createElement("script");
    script.type = "text/javascript";

    // If the browser is Internet Explorer.
    if (script.readyState){
      script.onreadystatechange = function(){
        if (script.readyState == "loaded" || script.readyState == "complete"){
          script.onreadystatechange = null;
          callback();
        }
      };
    // For any other browser.
    } else {
      script.onload = function(){
        callback();
      };
    }

    script.src = url;
    document.getElementsByTagName("head")[0].appendChild(script);
  };

  if (typeof Shopify.checkout === 'undefined')    { 
  loadScript('https://www.googleadservices.com/pagead/conversion_async.js', function(){
    window.google_trackConversion({
      google_conversion_id: 961028387,
      google_custom_params: window.roihuntereasy_google_tag_params,
      google_remarketing_only: true
    })
  });
}


/* ]]> */

{% include 'banana-stand-footer' %}

<!-- BEGIN: Flaviyo -->
{% include 'klaviyo-theme-tag' %}
<!-- END: Flaviyo -->

</body>
</html>
